footer.footer: .container
	h2.logo.footer__logo: a.logo__link(href='/') Flinz#[span.light-text Media]
	p.footer__description
		| FlinzMedia is a web design &amp; development company based in México.
		| We use web technologies to help digital influencers increase their
		| impact and grow their reach.
	.contact-info.footer__contact-info
		.contact-info__item.contact-info__email: a(href='mailto:christian@flinzmedia.com') christian@flinzmedia.com
		.contact-info__item.contact-info__phone: a(href='tel:+526563342600') (+52) 656-334-26-00
	.footer__bottom.cf
		.footer__copyright Copyright &copy; 2017 FlinzMedia
		ul.menu.footer__menu
			li.menu__item: a(href='/terms-and-conditions') Terms &amp; Conditions
			li.menu__item: a(href='/labs') Labs
			li.menu__item: a(href='/contact') Contact