.navigation.cf: .container
	h2.logo.navigation__logo: a.logo__link(href='/') Flinz#[span.light-text Media]
	nav.navigation__nav
		ul.menu.navigation__menu
			li.menu__item: a(href='/') Home
			li.menu__item: a(href='/about') About
			li.menu__item: a(href='/portfolio') Our Work
			//- li.menu__item: a(href='/blog') Blog
			li.menu__item.navigation__cta: a(href='/contact') Contact Us