extends layout.pug

append general
	title Why we make websites for influencers
	meta(name='description', content='Discover why we decided to work exclusively with digital influencers.')

block content
	section.section.about-page
		.container
			.headline
				h1.headline__title What is Flinz Media All About?
				.headline__description: p
					| Influencers are inspiring millions of people across the globe
					| with their content. We believe that technology can be
					| leveraged to increase the impact they are making in the
					| world. At FlinzMedia, we use that technology to create
					| websites that tell your stories.
			.page-content
				h2 Who is Behind All of This?
				img.pull-left.about-page__image(src='/images/christian-cisneros.png', alt='Christian Cisneros holding a laptop')
				.about-page__copy
					p
						| My name is Christian Cisneros and yes, I'm the guy in the
						| picture. And yes, I just posed for the picture. And
						| yes... ok enough with that, haha!
					p
						| All my life I've had a passion for computers and
						| everything related to technology. When I was about 12
						| years old, I'd fix my dad's computer everytime it was
						| broken. I was also the smartest guy in the classroom in
						| every computer related subject (to be honest, I sucked at
						| everything else). I was never really interested in school
						| and always did the minimum to pass the subjects.
					p
						| A couple of years forward, I started to learn to code
						| because I wanted to be a hacker. Yes, one of those you
						| see in the movies. I'd just get excited everytime I saw a
						| movie about hackers and I wanted to be like them.
					p
						| Somewhere along the way I discovered the world of web
						| development and I fell in love. I wanted to know
						| everything about it.
					p
						| I've been doing web design and development since then. I
						| decided to drop put of college in order to work on my
						| passions full time. I'm one of those that think that you
						| don't need a college education in order to be successful
						| in life.
					p
						| Throughout my career, I've worked with fantastic clients
						| from all around the world. This year 2017 I decided to
						| focus my efforts in helping digital influencers with
						| their websites.
					p
						| Why I made such a decision? Because I love influencers.
						| I love their creativity, the way they can see the world
						| from a different perspective and how they overcame all
						| kinds of obstacles in order to get where they are now.
						| They teach, they share and they care.
					p
						| So if you're an influencer that loves to create content
						| for your audience, I'll be more than glad to help you
						| with your website. Let's create something great.
					p
						| When we start working together, you can be sure I will do
						| everything in my hands to create an amazing website that
						| your audience will love.
					p
						| It's a pleasure to e-meet you, can't wait to talk with
						| you.
					img.about-page__signature(src='/images/signature.png', alt='The signature of Christian Cisneros')
				
				.cta-banner.about-page__cta-banner
					h2.cta-banner__message Let's create something amazing
					a.cta-button.cta-banner__button(href='/contact') Contact Me