extends layout.pug

append general
	title Website design &amp; development for digital influencers | Flinz Media
	meta(name='description', content='We create websites for bloggers, youtubers and instagrammers. Let\'s make you a website that your audience will love. Call us at +52 656 386-17-69')

block content
	section.intro
		.container
			h1.intro-title
				span.light-text 
					span.intro-title__orange-text We 
					span.intro-title__blue-text make 
					span.intro-title__yellow-text websites 
					span.intro-title__green-text for
				span.intro-title__big-text.intro-title__purple-text digital influencers

	section.section.foreword-section
		.container: .headline
			h2.headline__title.foreword-section__title The World Has Transitioned to a Completely Different Era
			.headline__description.foreword-section__description
				p
					| An era where you can spread your voice through the web and
					| influence the life of massive amounts of people. Those who
					| follow you and consume your content will trust what you have
					| to say and listen carefully to your opinions.
				p
					| Whether you are a blogger, youtuber or instagrammer you need
					| to have a place where your supporters can learn about your
					| story. A place where you can refer your potential partners to
					| and show off your work to brands interested in working with
					| you.
				p
					| At Flinz Media, we strongly believe that digital influencers
					| across the world have started a movement that is shaping the
					| future of our society. Let's create a website that empowers
					| your movement.

	section.section.services-section
		.container: .headline
			h2.headline__title Let's Use Design &amp; Technology to Empower Your Brand
			.headline__description: p
				| With a beautiful and engaging website you'll be able to share
				| all your information in a single place, create interactive
				| content for your supporters and even sell your own
				| merchandise. These are the areas where we can bring our
				| expertise to help you grow your reach, increase your impact
				| and monetize your brand:
		.services.cf: .container
			.one-third
				img.service__image(src='/images/website-design.png')
				h3.service__title Website Design
				p.service__description
					| With a well thought design, your audience will be
					| able to navigate through your website with ease.
					| They will love you more for making it easy to find
					| whatever they are searching.
			.one-third
				img.service__image(src='/images/website-development.png')
				h3.service__title Website Development
				p.service__description
					| We use modern technologies to make your website 
					| compatible with the majority of devices your
					| audience is using. You want to reach as most people
					| as possible, right?
			.one-third.last
				img.service__image(src='/images/creative-design.png')
				h3.service__title Creative Design
				p.service__description
					| You can spend your time working on creating more
					| content while we help you out designing any graphics
					| you might need. From Instagram images to Youtube
					| thumbnails, we've got your back.

	section.section.testimonials-section.cf
		.container
			.headline.pull-left
				h2.headline__title Client Reviews
				.headline__description.headline__description--shorter: p
					| Our main goal is to help you grow your reach and increase
					| your impact. Don't just take our word for it, see what
					| our actual customers say about our work.

			.pull-right
				blockquote.testimonials-section__testimonial
					p.quote
						| "Working with Christian has been a wonderful
						| experience. He was always on top of things and
						| provided us tremendous value and advice on what we
						| need to do in order to be successful online"
					.quote__author
						img.author__image(src='/images/dornubari.png')
						cite.author__info
							| Dornubari Vizor
							br
							span.author__role Co-Founder at #[a(href='http://leadquizzes.com', target='_blank') LeadQuizzes]

	section.section.cta-section.cf
		.container: .headline
			h2.headline__title.cta-section__title We're Eager to Work With You
			.headline__description.cta-section__description: p
				| Let's have a conversation to see if we are a good fit to
				| work together. Contact us now to discover how your brand
				| can benefit from our creative and technical services.
			a.cta-button(href='/contact') Contact Us

